body {
  min-height: 100vh;
  background-color: aquamarine;
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 3px solid sandybrown;
  margin: 50px 50px 50px 50px;

  border-radius: 15px;
  display: flex;
}
button#next {
  color: blue;
  border-radius: 25px;
  background-color: snow;

  position: absolute;
  right: 290px;
  top: 350px;
}
button#prev {
  color: blue;
  border-radius: 25px;
  position: absolute;
  left: 300px;
  top: 350px;
  background-color: snow;
}
